<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Main theme: <p th:text = "${exhibition.getThemeOfExhibition()}">VALUE</p>
Stage number: <p th:text = "${exhibition.getStageNumber()}">VALUE</p>
Ticket price: <p th:text = "${exhibition.getTicketPrice()}">VALUE</p>
Date: <p th:text = "${exhibition.getDateOfExhibition()}">VALUE</p>
<br/>
<hr/>

<li th:if="${user.hasRole('ADMIN')}">
    <form th:method = "GET" th:action="@{/{theme}/edit(theme=${exhibition.getThemeOfExhibition()})}" >
        <input type ="submit" value = "Edit"/>
    </form>

    <form th:method = "DELETE" th:action = "@{/{theme}(theme=${exhibition.getThemeOfExhibition()})}" >
        <input type ="submit" value = "Delete"/>
    </form>
</li>

<a href = "/" > <input type ="submit" value = "Go to main page"/> </a>


<a sec:authorize="hasRole('ROLE_ANONYMOUS')" href="/login">
    <button type="submit">Login</button>
</a>
<form sec:authorize="isAuthenticated()" action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

</body>
</html>